#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Copy binary to usr/local/bin
	install -D -m 755 $(CURDIR)/build/portkey-gateway $(CURDIR)/debian/portkey-gateway/usr/local/bin/portkey-gateway

	# Copy public files to usr/local/share
	install -d $(CURDIR)/debian/portkey-gateway/usr/local/share/portkey-gateway
	cp -r $(CURDIR)/build/public $(CURDIR)/debian/portkey-gateway/usr/local/share/portkey-gateway/

	# Copy service file
	install -D -m 644 $(CURDIR)/debian/portkey-gateway.service $(CURDIR)/debian/portkey-gateway/usr/local/share/portkey-gateway/portkey-gateway.service
